.white-shadow {
    text-shadow: 2px 2px 8px white;
}

.bg-white-05 {
    background-color: rgba(255, 255, 255, .5);
}

.width-md {
    max-width: 300px;
}

.btn-group-temp {
    display: flex;
    flex-direction: column;
}

.temp-group {
    display: flex;
}

.temp-info {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.font-lg {
    font-size: 2rem;
}

.font-md {
    font-size: 1rem;

}